<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()"  > 
        <div class="form-group">
            <label for="firstName">prenom</label>
            <input type="text"  class="form-control" id="firstName" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">nom</label>
            <input type="text"  class="form-control" id="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text"  class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="age">age</label>
            <input type="text"  class="form-control" id="age" formControlName="age">
        </div>
        <div class="form-group">
            <label for="drinkPreferences">Quelle boisson preferez-vous ? </label>
            <select formControlName="drinkPreferences" id="drinkPreferences" class="form-control">
                <option value="coca">coca</option>
                <option value="pepsi">pepsi</option>
            </select>
        </div>
        <div formArrayName="hobbies">
            <h3>votre hobbies</h3>
            <div class="form-control" *ngFor="let hobbyControl of getHobbies().controls ; let i = index">
                <input type="text" class="form-control" [formControlName]="i">
            </div>
            <a class="btn btn-primary btn-sm m-4 " role="button" (click)="onAddHobby()" >ajouter un hobbie </a>
        </div>
        <button class="btn btn-primary" [disabled]="userForm.invalid">Soumetre</button>

    </form>
</div>